.aksesoris{
    width:px;
    height: 450;
    margin:20px 100px;
    padding: 50px;
    
    background-color: black;
    

        
    
}
.aksesoris p{
    color: aliceblue;

}
.aksesoris small{
    color: 
}

.aksesoris h2{
   font-size: 50px

}

h1
{
    font-family: sans-serif;
    margin: 0px;
    background-color:beige
}

.offer{
    display: flex;
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
    
}

.tulisan{
    width: 100%;
    
}
.offer p{
    font-size: 15px;
    color: black;
    margin-top: 130px;
    margin-bottom: 0;
}
.offer h2{
    margin: 0px;
}

.offer small{
    color: #555;
}